{% extends 'base.html' %}
{% block pagetitle %}
About Us
{% endblock pagetitle %}

{% block body %}
<style>
    body {
        background-color: #EDF1D6;
        color: #40513B;
    }
    

</style>
<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>About Us</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" id="maindiv" style="height: 95%;">
            <center>
                <h2>Our Team</h2>
                <p class="lead" style="font-weight: 350;">We are a group of 6 of highly motivated students at VIT Bhopal who strive to innovate something valuable for the society</p>
            </center>
            <div id="div1">
                <h4>Pratham Sachdev (20BCE10444)</h4>

                <a target="_blank" href='https://github.com/prathsachdev'><img
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40" width="40"></a>
                <a target="_blank" href='https://www.linkedin.com/in/pratham-sachdev-80184514b/'><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a>
                
                <br>
                <h4>Utkarsh Swarup (20BCE10101)</h4>

                <a target="_blank" href='https://github.com/prathsachdev'><img
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40" width="40"></a>
                <a target="_blank" href='https://www.linkedin.com/in/pratham-sachdev-80184514b/'><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a>
                
                <br>
                <h4>Aniket Khare (20BCE10363)</h4>

                <a target="_blank" href='https://github.com/prathsachdev'><img
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40" width="40"></a>
                <a target="_blank" href='https://www.linkedin.com/in/pratham-sachdev-80184514b/'><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a>
            </div>
            <div id="div1">
                <h4>Nihar Goyal (20BCE10936)</h4>

                <a target="_blank" href='https://github.com/prathsachdev'><img
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40" width="40"></a>
                <a target="_blank" href='https://www.linkedin.com/in/pratham-sachdev-80184514b/'><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a>
                
                <br>
                <h4>Pratham Gupta (20MEI10080)</h4>

                <a target="_blank" href='https://github.com/prathsachdev'><img
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40" width="40"></a>
                <a target="_blank" href='https://www.linkedin.com/in/pratham-sachdev-80184514b/'><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a>
                
                <br>
                <h4>Rohan Saini (20BAC10018)</h4>

                <a target="_blank" href='https://github.com/prathsachdev'><img
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40" width="40"></a>
                <a target="_blank" href='https://www.linkedin.com/in/pratham-sachdev-80184514b/'><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a>
            </div>
            
        </div>
    </div>
</div>

{% endblock body %}