{% extends 'base.html' %}
{% block pagetitle %}
Plant Disease Detection
{% endblock pagetitle %}
{% block body %}
<style>
  body{
    overflow-x: hidden; #EDF1D6
    background-color:;
  }
  @media only screen and (max-width: 830px) {
    .laptop{
      display: none;
    }
  }
  @media (min-width:830px) and (max-width: 1536px){
    .mobile{
      display: none;
    }
  }
  
</style>
<div class='mobile p-5'>
  <div class="row mb-5 text-center text-white">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color:red;"><b>Note✍🏻</b></h1>
      <p class="lead" style="font-weight: 500;color: black;">Please🙏 Open This Site On Laptop/PC 💻 Screen Only</p>
      <p class="lead" style="font-weight: 500;color: black;">Thank You 🤝</p>    
    </div>
</div>
</div>

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: #40513B;"><b>Krishi Mitra
                 </b></h1>
        <p class="lead" style="font-weight: 500;color:#40513B;">This AI Engine Will Help To Detect Disease From Following Fruits And Vegetables</p>
    </div>
</div>

<center class="laptop">
    <a href="/index">
    <button class = "bttn-pill bttn-lg btn-success"><b style="color: #40513B;">AI Engine</b></button>
</a>
</center>
<div class="row p-5 laptop">
  <div class=" col">
    <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">

      <img src="https://www.almanac.com/sites/default/files/styles/or/public/image_nodes/tomatoes_helios4eos_gettyimages-edit.jpeg?itok=2owPswip" width="250" height="250">
      <center><p class="lead" style="font-weight: 500;color: black;">Tomato</p></center>
    </div>
</div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">
          <img src="https://plantix.net/en/library/assets/custom/crop-images/potato.jpeg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Potato</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">

          <img src="https://cdn.farmjournal.com/s3fs-public/styles/840x600/public/corn_crop_-_Crop_Tour.jpg?itok=EJGoKDk_" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Corn</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">

          <img src="https://assets.thehansindia.com/hansindia-bucket/2974_domex.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Apple</p></center>
        </div>
    </div>
   
</div>

<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">
          <img src="https://agriculture.basf.us/content/dam/cxm/agriculture/crop-protection/use-areas/crops/images/CRP160087_Solutions_Grape_Inset.jpg.transform/large1x/img.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Grape</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">

          <img src="https://media.istockphoto.com/id/161046734/photo/pepper-plant.jpg?s=612x612&w=0&k=20&c=MrvoueuLK-GejO0fT4YoOgOSxiWsLXHRAFfsrKjk4W0=" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Bell Pepper</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">

          <img src="https://www.agrifarming.in/wp-content/uploads/2015/05/Peach-Fruit-Farming.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Peach</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">

          <img src="https://bpb-us-e1.wpmucdn.com/blogs.cornell.edu/dist/5/293/files/2018/07/IMG_4694-shqbfz-768x576.jpeg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Cherry</p></center>
        </div>
    </div>
</div>


<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">
          <img src="https://rukminim1.flixcart.com/image/416/416/kj7gwi80-0/plant-seed/x/z/i/100-hs272-shop-360-garden-original-imafyt4reuhczmsh.jpeg?q=70" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Soyabean</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">

          <img src="https://www.diggers.com.au/cdn/shop/products/raspberry-chilcotin-wrachi_9cbb14f9-fdc6-44cc-8f92-09363feaa6a6_2048x.jpg?v=1637120970" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Raspberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">

          <img src="https://gardenerspath.com/wp-content/uploads/2020/02/Strawberry-Plants-Growing-in-the-Garden.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Strawberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 85%;height: 92%;">

          <img src="https://www.agrifarming.in/wp-content/uploads/2015/03/Orange-Farming.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Orange</p></center>
        </div>
    </div>
</div>

<center class="laptop">
<div class="row p-5">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">
          <img src="https://img.crocdn.co.uk/images/products2/pl/00/00/00/18/pl0000001890.jpg?width=940&height=940" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Blueberry</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">

          <img src="https://a-z-animals.com/media/2023/03/shutterstock_1365090488-1536x1024.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Squash</p></center>
        </div>
    </div>
</div>
</center>

{% endblock body %}